<div class="left-sidebar">
    <div class="sidebar-title">
        <a href="{{ path('admin_home') }}">Admin Panel</a>
    </div>
    <div class="sidebar-menu">
        <ul class="list-unstyled">
            <li>
                <a href="{{ path('admin_users') }}"><i class="bi bi-people"></i> User Management</a>
            </li>
            <li>
                <a href="{{ path('admin_pages') }}"><i class="bi bi-aspect-ratio"></i> Page Management</a>
            </li>
            <li>
                <a href="{{ path('admin_urls') }}"><i class="bi bi-link"></i> Url Management</a>
            </li>
            <li>
                <a href="{{ path('admin_sliders') }}"><i class="bi bi-sliders"></i> Slider Management</a>
            </li>
            <li>
                <a href="{{ path('admin_features') }}"><i class="bi bi-stack"></i> Feature Management</a>
            </li>
            <li>
                <a href="{{ path('admin_theme_sections') }}"><i class="bi bi-aspect-ratio"></i> Theme Section Management</a>
            </li>
            <li>
                <a href="{{ path('admin_contact') }}"><i class="bi bi-telegram"></i> Contact Management</a>
            </li>
        </ul>
    </div>
</div>
