{% extends 'admin/base.html.twig' %}

{% block title %}Home - Admin Panel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}
    <div class="summary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="home-card">
                        Users
                        <div>
                            <span class="badge badge-light">{{ user_count }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-card">
                        Pages
                        <div>
                            <span class="badge badge-light">{{ page_count }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-card">
                        Urls
                        <div>
                            <span class="badge badge-light">{{ url_count }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="home-card">
                        Contacts
                        <div>
                            <span class="badge badge-light">{{ contact_count }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="def-cart mt-4">
                        <h4 class="font-weight-bold">Last Registered Users</h4>
                        <p>You can see the last registered 5 users below.</p>
                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>UID</th>
                                <th>Name - Surname</th>
                                <th>Email</th>
                                <th>Active ?</th>
                                <th>Creation Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in last_users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }} {{ user.surname }}</td>
                                    <td>{{ user.email }} </td>
                                    <td>
                                        {% if user.isactive == 0 %}
                                            <span class="badge badge-danger">No</span>
                                        {% else %}
                                            <span class="badge badge-success">Yes</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ user.createdat | date('d.m.Y H:i') }}</td>
                                    <td>
                                        <a href="{{ path('admin_edit_user',{ id: user.id }) }}" class="btn btn-sm btn-success m-1"><i class="bi bi-pencil text-white"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="def-cart mt-4">
                        <h4 class="font-weight-bold">Last Created URLs</h4>
                        <p>You can see the last created 5 urls below.</p>
                        <table id="example2" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>URL</th>
                                <th>URL Hash</th>
                                <th>Creation Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for url in last_urls %}
                                <tr>
                                    <td>{{ url.id }}</td>
                                    <td>{{ url.url }}</td>
                                    <td>{{ url.urlhash }}</td>
                                    <td>{{ url.createdat | date('d.m.Y H:i') }}</td>
                                    <td>
                                        <a href="{{ path('admin_url_edit', { id: url.id }) }}" class="btn btn-sm btn-success m-1"><i class="bi bi-pencil text-white"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "order": [[ 4, "desc" ]]
            });
            $('#example2').DataTable({
                "order": [[ 4, "desc" ]]
            });
        });
    </script>
{% endblock %}
